<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.3.2" targetFramework="net40" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net40" />
  <package id="Pfim" version="0.10.1" targetFramework="net48" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="net48" />
</packages>